*{
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%),url(../photos/background.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

#logo {
    color:goldenrod;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 120px;
    cursor: pointer;
    
}
.navbar ul {
    margin-left: 100px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 25px;
    font-size: 25px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: goldenrod;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar ul li::after {
    content: '';
    height: 4px;
    width: 0;
    background: goldenrod;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

#btn {
    background-color: chocolate;
    color: black;
    font-weight: bold;
    width: 200px;
    height: 70px;
    border: 2px solid chocolate;
    border-radius: 20px;
    margin: 2px 10px;
}

.welcome {
    width: 100%;
    position: absolute;
    top: 200px;
    text-align: center;
    color: rgb(255, 215, 114);
}

.welcome h1 {
    margin-top: 10px ;
    padding-bottom: 20px;
    text-transform: uppercase ;
}

.welcome p {
    padding-bottom: 30px;
}

#button2 {
    border-radius: 20px;
    border: 2px solid rgb(207, 168, 68);
    color: black;
    background-color: rgb(207, 168, 68);
    font-weight: bold;
    width: 150px;
    height: 50px;
    transition: 0.3s ease;
}

#button2:hover {
    transform: scale(1.2);
}

.images {
    width: 100%;
    position: absolute;
    top: 420px;
    text-align: center;
}

.images img {
    margin: 20px;
    border-radius: 10px;
    transition: 0.3s ease;
}
.images img:hover {
    transform: scale(1.2); 
   
}

.aboutsection {
    display: flex;
}
.about_content{
    margin-left: 20px;
    margin-top: 50px;
    color: rgb(255, 215, 114);
}

.about_content h1{
    padding-bottom: 15px;
}

.about_content p{
    padding-bottom: 15px;
    width: 700px;
    font-size: 18px;
}

.about_content ul{
    list-style: none;
    font-size: 18px;
}

.about_images {
    margin: 15px;
    padding-left: 160px;
}

.about_images img{
    border-radius: 10px;
    margin: 5px;
    transition: 0.5s ease;
}
.about_images img:hover{
    transform: scale(1.1);
}






